* {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

header {
  height: 120px;
  width: 100%;
}

#mid_title {
  margin-left: 500px;
}

#mid_title .smaspan {
  margin-left: 20px;
}

#mid_title .smaspan li {
  width: 120px;
  height: 20px;
  font-size: 5px;
}
